**__pycache__**
**build**
**egg-info**
**dist**
!det3d/builder.py
!det3d/datasets/builder.py
!det3d/models/builder.py
!det3d/core/utils/dist_utils.py
!det3d/datasets/loader/build_loader.py
!det3d/torchie/parallel/distributed.py
data/
*.pyc
venv/
*.idea/
*.so
*.yaml
*.sh 
*.pth
*.pkl
*.zip
*.bin
.vscode/
